*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 93.75%;
    font-family: 'Balsamiq Sans', cursive;
}
#header{
    width: 100%;
    height: auto;
    background-image: url('21.png');
    background-size: cover;
}
#head{
    width: 100%;
    height: 9vh;
    text-transform: uppercase;
    font-size: 1.2rem;
}
#logo{
    width: 20%;
    height: 9vh;
    float: left;
    text-align: center;
}
#logo img{
    width: 7rem;
    height: auto;
    transition-property: width, height;
    transition-duration: 2s;
}
#logo img:hover{
    width: 14rem;
    height: auto;
}
#menu{
    width: 80%;
    height: 9vh;
    float: right;
    text-align: right;
}
#menu ul{
    list-style-type: none;
}
#menu li{
    display: inline;
    padding:0 2rem 0 0;
    line-height: 4;
    color: white;
}
#container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 4rem;
    padding-bottom: 2rem;

}
#container #box, #whatsapp{
    margin: 1rem;
}
#box{
    flex-basis: 27rem;
    /* border:0px solid rgb(255, 255, 255); */
    /* margin:7rem 0 0 12rem; */
    background-image:linear-gradient(grey,#dcdde1);
    box-shadow: 2px 1px 9px black;
    opacity: .9;
    color: black;
    letter-spacing: .2rem;
}
hr{
    height: .9rem;
    background-color: red;
    box-shadow: 2px 1px 5px black;
}
#box > h1 ,p ,#img1{
    padding: 1rem;
}
#box h1{
    text-shadow: 1px 1px 1px red;
}
#box p{
    word-spacing: .3rem;
    text-align: justify;
    font-size: 1.2rem;
}
#img1 img{
    width: 13.35rem;
    height: auto;
}
#whatsapp {
    flex-basis: 20rem;
    height: 20rem;
    background-color: white;
    opacity:.8;
    border-radius: 10%;
}
#second{
    width: 100%;
    background-color: #d35400;
    padding-top: 4rem;
    padding-bottom: 2rem;
}
#content1{
    width: 100%;
    padding: 1rem;
    text-align: center;
}
#content1 h1{
    font-size: 2.3rem;
    text-transform: uppercase;
}
#content1 p{
    column-count: 3;
    column-rule: dashed;
    column-gap: 10px;
    line-height: 2;
    letter-spacing: .1rem;
}
.box1{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.box1 img{
    width: 28%;
}
#third{
    background-image: url('pics/bg/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 2rem;
}
#third h1{
    letter-spacing: .2rem;
    text-align: center;
}
#content3{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 5rem;
    letter-spacing:.1rem;
    line-height: 1.3;
}
.box2{
    /* border: .1rem solid grey; */
    box-shadow: 2px 1px 5px black;
    border-radius: 50%;
    background-color: grey;
    margin: 1rem 1.2rem;
    padding: 1rem 2rem;
    text-align: center;
    flex-basis: 28rem;
}
.box2 p{
    font-size: 1.2rem;
}
.box2 h1{
    text-transform: capitalize;
}
.box2 img{
    width: 6rem;    
}
#fourth{
    background-image: url('pics/bg/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 2rem;
}
#fourth #content4{
    text-align: center;
    letter-spacing: .2rem;
    line-height: 1.4;
}
#fourth #content4 p{
    width: 75%;
    font-size: 1.2rem;
    margin: auto;
}
#fiveth{
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 2rem;
    opacity: 1;
    background-color: #d35400;
}
#fiveth #content5{
    text-align: center;
    letter-spacing: .2rem;
    line-height: 1.5;
}
#fiveth #content5 p{
    width: 75%;
    margin: auto;
    font-size: 1.2rem;
    color:black;
}    
#box3{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.box4{
    flex-basis: 30rem;
    box-shadow: 2px 1px 5px white;
    border-radius: 30%;
    text-align: center;
    margin: 2rem 1.8rem;
    /* background-color: #836e6e; */
    padding: 1.2rem;
    letter-spacing: .2rem;
    line-height: 2;
    color: white;
}
.box4 img{
    width: 10%;
    border-radius: 30%;
}
#sixth{
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 2rem;
    text-align: center;
    background-color: #B33771;
}
#box5{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#box5 .box6:hover{
    box-shadow: 0 0 10px 5px white;
    border-radius: 20%;
    color: thistle;
}
.box6{
    box-shadow: 2px 1px 5px black;
    border-radius: 30%;
    margin: 1rem 0;
    flex-basis: 25rem;
}
.box6 p{
    padding: 1rem 2rem;
}
#box5 img{
    width: 100%;
    border-radius: 20%;
}
#seventh{
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 2rem;
    background-color: #2C3A47;
}
#last{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: white;
    letter-spacing: .1rem;
}
#last div{
    flex-basis: 25rem;
    padding: 1rem;
    line-height: 2;
}
#last a{
    font-size: 1.1rem;
    text-decoration: none;
    color: white;
}
#content6 img{
    width: 44px;
}
#copy hr{
    width: 70%;
    height: 1%;
    margin: auto;
}
#copy{
    text-align: center;
    color: white;
    font-weight: normal;
}